body {
  background-color: aqua;
}

.player-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px; /* Adjust width as needed */
  }
  
  .player-image {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    object-fit: cover;
  }
  
  .player-info {
    padding: 15px;
  }
  
  .player-name {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .player-position {
    font-style: italic;
    color: #888;
  }
  
  .player-stats {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .player-stats li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .stat-label {
    font-weight: bold;
  }
  