body {
  background-color: aqua;
}


@media (max-width: 768px) {
  .player-card {
    flex-direction: row; /* Change to row on smaller screens */
    .player-image {
      flex: 1; /* Allow image to shrink/grow proportionally */
    }
    .player-info {
      flex: 2; /* Give more space to player info */
    }
  }
}


.player-card {
  display: flex;
  flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px; /* Adjust width as needed */
  }
  
  .player-image {
      max-width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .player-info {
    padding: 15px;
  }
  
  .player-name {
    font-size: 1.2rem;
    margin-bottom: 5px;
    border-top: 2px solid #888;
  }
  
  .player-position {
    font-style: italic;
    color: #888;
  }
  
  .player-stats {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .player-stats li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .stat-label {
    font-weight: bold;
    border-top: 2px solid #888;
  }
  